# This file registers ownership for certain parts of the backstage code.
# Review from a member of the corresponding code owner is required to merge pull requests.
#
# The last matching pattern takes precedence.
# https://help.github.com/articles/about-codeowners/

*                                    @backstage/maintainers
/.changeset/cost-insights-*          @spotify/silver-lining
/.changeset/cost-insights-*          @backstage/silver-lining
/.github/workflows/techdocs-pypi.yml @spotify/techdocs-core
/.github/workflows/techdocs-pypi.yml @spotify/techdocs-core
/.github/workflows/techdocs.yml      @spotify/techdocs-core
/.github/workflows/techdocs.yml      @spotify/techdocs-core
/docs/features/techdocs              @spotify/techdocs-core
/docs/features/techdocs              @backstage/techdocs-core
/packages/techdocs-cli               @spotify/techdocs-core
/packages/techdocs-container         @spotify/techdocs-core
/plugins/argocd                      @trivago/ebarrios
/plugins/bridge-app-plugin           @trivago/ebarrios
/plugins/cloudbuild                  @trivago/ebarrios
/plugins/cloudbuild                  @trivago/ebarrios
/plugins/cost-insights               @spotify/silver-lining
/plugins/cost-insights               @backstage/silver-lining
/plugins/gcp-projects                @trivago/ebarrios
/plugins/github-prs                  @trivago/ebarrios
/plugins/grafana                     @trivago/ebarrios
/plugins/search                      @backstage/techdocs-core
/plugins/techdocs                    @spotify/techdocs-core
/plugins/techdocs                    @backstage/techdocs-core
/plugins/techdocs-backend            @spotify/techdocs-core
/plugins/techdocs-backend            @backstage/techdocs-core
